Exception using OpenJDK 1.8.0_91

```
Exception in thread "main" com.amazonaws.AmazonServiceException: Invalid date Wed, 27 Apr 2016 08:00:18 +00:00. It must be in one of the formats specified by HTTP RFC 2616 section 3.3.1 (Service: AmazonRoute53; Status Code: 400; Error Code: InvalidParameterValue; Request ID: 157db148-0c4e-11e6-8328-1f6b3c404b92)
	at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpClient.java:1077)
	at com.amazonaws.http.AmazonHttpClient.executeOneRequest(AmazonHttpClient.java:725)
	at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:460)
	at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:295)
	at com.amazonaws.services.route53.AmazonRoute53Client.invoke(AmazonRoute53Client.java:2127)
	at com.amazonaws.services.route53.AmazonRoute53Client.listHostedZones(AmazonRoute53Client.java:1352)
	at com.amazonaws.services.route53.AmazonRoute53Client.listHostedZones(AmazonRoute53Client.java:2049)
	at de.taimos.aws.route53update.Starter.findZoneId(Starter.java:128)
	at de.taimos.aws.route53update.Starter.main(Starter.java:79)
```